<%- include('../includes/header-farmer.ejs') %>

    <!--Nav End-->
    </div>
    <div class="container-fluid content-inner pb-0" id="page_layout">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex justify-content-between mb-3">
                                    <h4 class="mb-0">Invoice #215462</h4>
                                    <span>kisanSathi ltd.</span>
                                </div>
                                <h5 class="mb-4">Borrower Name</h5>
                                <div class="row">
                                    <div class="col-lg-4 col-md-6 col-sm-6 mt-3 mt-sm-0">
                                        <div>
                                            <h6>Bill To:</h6>
                                            <p>Lender Name</p>
                                            <p class="mb-0">address</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-6 mt-3 mt-sm-0">
                                        <div>
                                            <h6>Bill From:</h6>
                                            <p>kisanSathi ltd.</p>
                                            <p class="mb-0">address</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-6 col-sm-6 mt-3 mt-lg-0 text-lg-end text-start">
                                        <div>
                                            <p class="text-muted mb-0">Rent Amount</p>
                                            <h5 class="mb-0">hardcoded</h5>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-6 col-sm-6 mt-3 mt-lg-0 text-lg-end text-start">
                                        <div class="mb-3">
                                            <h6 class="mb-0">Invoice Date</h6>
                                            <p>date here</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-4">
                                <div class="table-responsive-lg">
                                    <table class="table iq-billing-table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Description</th>
                                                <th class="text-center" scope="col">Price</th>
                                                <th class="text-center" scope="col">Quantity</th>
                                                <th scope="col">Sub-Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="w-50">
                                                    <h6 class="mb-0">Item 1</h6>
                                                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing
                                                        elit.
                                                    </p>
                                                </td>
                                                <td class="text-center">hardcoded</td>
                                                <td class="text-center">1</td>
                                                <td>hardcoded</td>
                                            </tr>
                                            
                                            <tr>
                                                <td colspan="3">Net Amount</td>
                                                <td>
                                                    <h6 class="mb-0">hardcoded</h6>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-12">
                                <p class="ms-4">Please pay before the due date. Thank you for your business.
                                </p>
                                <div class="d-flex justify-content-center mt-4">
                                    <button type="button" class="btn btn-primary"
                                        onClick="window.print()">Print</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Section Start -->

    <!-- Library Bundle Script -->
    <script src="./assets/js/core/libs.min.js"></script>
    <!-- Plugin Scripts -->
    <!-- Slider-tab Script -->
    <script src="./assets/js/plugins/slider-tabs.js"></script>
    <!-- SwiperSlider Script -->
    <script src="./assets/vendor/swiperSlider/swiper-bundle.min.js"></script>
    <!-- Lodash Utility -->
    <script src="./assets/vendor/lodash/lodash.min.js"></script>
    <!-- Utilities Functions -->
    <script src="./assets/js/iqonic-script/utility.min.js"></script>
    <!-- Settings Script -->
    <script src="./assets/js/iqonic-script/setting.min.js"></script>
    <!-- Settings Init Script -->
    <script src="./assets/js/setting-init.js"></script>
    <!-- External Library Bundle Script -->
    <script src="./assets/js/core/external.min.js"></script>
    <!-- Widgetchart Script -->
    <script src="./assets/js/charts/widgetcharts.js?v=2.2.0" defer></script>
    <!-- Dashboard Script -->
    <script src="./assets/js/charts/dashboard.js?v=2.2.0" defer></script>
    <script src="./assets/js/charts/alternate-dashboard.js?v=2.2.0" defer></script>
    <!-- Hopeui Script -->
    <script src="./assets/js/hope-ui.js?v=2.2.0" defer></script>
    <script src="./assets/js/hope-uipro.js?v=2.2.0" defer></script>
    <script src="./assets/js/sidebar.js?v=2.2.0" defer></script>
    <script src="../e-commerce/assets/js/ecommerce.js" defer></script>
    </body>

    <%- include('../includes/footer-farmer.ejs') %>