<%- include('../includes/header-farmer.ejs') %>
   <script>
      function updateFields() {
         var selectValue = document.getElementById("itemCategory").value;
         switch (selectValue) {
            case "machinery":
               document.getElementById("itemQuantity").style.display = "block";
               document.getElementById("itemName").style.display = "block";
               document.getElementById("sqFeets").style.display = "none";
               break;
            case "storageHouse":
               document.getElementById("itemQuantity").style.display = "none";
               document.getElementById("itemName").style.display = "none";
               document.getElementById("sqFeets").style.display = "block";
               break;
            case "tools":
               document.getElementById("itemQuantity").style.display = "block";
               document.getElementById("itemName").style.display = "block";
               document.getElementById("sqFeets").style.display = "none";
               break;

            case "attachments":
               document.getElementById("itemQuantity").style.display = "block";
               document.getElementById("itemName").style.display = "block";
               document.getElementById("sqFeets").style.display = "none";
               break;

            default:
               document.getElementById("itemQuantity").style.display = "block";
               document.getElementById("itemName").style.display = "block";
               document.getElementById("sqFeets").style.display = "none";
               break;
         }
      }
   </script>
   <!-- Nav Header Component Start -->
   <div class="iq-navbar-header" style="height: 215px;">
      <div class="container-fluid iq-container">
         <div class="row">
            <div class="col-md-12">
               <div class="flex-wrap d-flex justify-content-between align-items-center">
                  <div>
                     <h1>Rent your Item</h1>
                     <!-- <p>We are on a mission to help developers like you build successful projects for FREE.</p> -->
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="iq-header-img">
         <img src="/assets/images/dashboard/top-header.png" alt="header"
            class="theme-color-default-img img-fluid w-100 h-100 animated-scaleX">
         <img src="/assets/images/dashboard/top-header1.png" alt="header"
            class="theme-color-purple-img img-fluid w-100 h-100 animated-scaleX">
         <img src="/assets/images/dashboard/top-header2.png" alt="header"
            class="theme-color-blue-img img-fluid w-100 h-100 animated-scaleX">
         <img src="/assets/images/dashboard/top-header3.png" alt="header"
            class="theme-color-green-img img-fluid w-100 h-100 animated-scaleX">
         <img src="/assets/images/dashboard/top-header4.png" alt="header"
            class="theme-color-yellow-img img-fluid w-100 h-100 animated-scaleX">
         <img src="/assets/images/dashboard/top-header5.png" alt="header"
            class="theme-color-pink-img img-fluid w-100 h-100 animated-scaleX">
      </div>
   </div> <!-- Nav Header Component End -->
   <!--Nav End-->
   </div>
   <div class="conatiner-fluid content-inner mt-n5 py-0">
      <div>
         <div class="row">

            <div class="col-xl-12">
               <div class="card">
                  <div class="card-header d-flex justify-content-between">
                     <div class="header-title">
                        <h4 class="card-title">Fill The Details of The Item Which You Want To Rent</h4>
                     </div>
                  </div>
                  <div class="card-body">
                     <div class="new-user-info">
                        <form action="/lease-item" method="POST" enctype="multipart/form-data">

                           <div class="form-group col-md-12">
                              <select class="form-select" name="itemCategory" id="itemCategory"
                                 onchange="updateFields()" required>
                                 <option selected>Select Category</option>
                                 <option value="machinery">Machinery</option>
                                 <option value="storageHouse">Storage House</option>
                                 <option value="tools">Equipment</option>
                                 <option value="attachments">Attachments</option>
                              </select>
                           </div>

                           <div class="row">
                              <div class="form-group col-md-6" id="itemName">
                                 <label class="form-label" for="itemName">Name of the Item:</label>
                                 <input type="text" name="itemName" class="form-control" id="itemName"
                                    placeholder="e.g. Harrow" required>
                              </div>

                              <div class="form-group col-md-6" id="sqFeets">
                                 <label class="form-label" for="sqFeets">Area of Storage Space</label>
                                 <input type="text" name="sqFeets" class="form-control" id="sqFeets"
                                    placeholder="e.g. 20 square km">
                              </div>

                              <div class="form-group col-md-6">
                                 <label class="form-label" for="">Upload a Image:</label>
                                 <input type="file" name="itemFile" class="form-control" id="itemFile">
                              </div>

                              <div class="form-group col-md-12">
                                 <label class="form-label" for="itemDescription">Description:</label>
                                 <textarea name="itemDescription" required class="form-control" id="itemDescription"
                                    placeholder="e.g. Information about the State, Condition of the Item / Storage Space"></textarea>
                              </div>

                              <div class="form-group col-md-12">
                                 <label class="form-label" for="address">Address:</label>
                                 <textarea name="address" required class="form-control" id="address"
                                    placeholder="Your Address"></textarea>
                              </div>

                              <div class="form-group col-md-6">
                                 <label class="form-label" for="rentPerDay">Rent per Day: ₹</label>
                                 <input type="number" min="0" name="rentPerDay" class="form-control" id="rentPerDay"
                                    placeholder="e.g 200" required>
                              </div>

                              <div class="form-group col-md-6">
                                 <label class="form-label" for="rentDeposit">Deposit: ₹</label>
                                 <input type="number" min="0" name="rentDeposit" class="form-control" id="rentDeposit"
                                    placeholder="e.g 1000" required>
                              </div>

                              <div class="form-group col-md-12" id="itemQuantity">
                                 <label class="form-label" for="itemQuantity">Quantity:</label>
                                 <input type="number" min="0" name="itemQuantity" class="form-control" id="itemQuantity"
                                    placeholder="e.g. 30" required>
                              </div>

                              <hr>
                              <button type="submit" class="btn btn-primary">Publish Item</button>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

   <!-- <div class="btn-download">
          <a class="btn btn-danger px-3 py-2" href="https://iqonic.design/product/admin-templates/hope-ui-admin-free-open-source-bootstrap-admin-template/" target="_blank" >
              <svg width="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path opacity="0.4" fill-rule="evenodd" clip-rule="evenodd" d="M5.91064 20.5886C5.91064 19.7486 6.59064 19.0686 7.43064 19.0686C8.26064 19.0686 8.94064 19.7486 8.94064 20.5886C8.94064 21.4186 8.26064 22.0986 7.43064 22.0986C6.59064 22.0986 5.91064 21.4186 5.91064 20.5886ZM17.1606 20.5886C17.1606 19.7486 17.8406 19.0686 18.6806 19.0686C19.5106 19.0686 20.1906 19.7486 20.1906 20.5886C20.1906 21.4186 19.5106 22.0986 18.6806 22.0986C17.8406 22.0986 17.1606 21.4186 17.1606 20.5886Z" fill="currentColor"></path>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M20.1907 6.34909C20.8007 6.34909 21.2007 6.55909 21.6007 7.01909C22.0007 7.47909 22.0707 8.13909 21.9807 8.73809L21.0307 15.2981C20.8507 16.5591 19.7707 17.4881 18.5007 17.4881H7.59074C6.26074 17.4881 5.16074 16.4681 5.05074 15.1491L4.13074 4.24809L2.62074 3.98809C2.22074 3.91809 1.94074 3.52809 2.01074 3.12809C2.08074 2.71809 2.47074 2.44809 2.88074 2.50809L5.26574 2.86809C5.60574 2.92909 5.85574 3.20809 5.88574 3.54809L6.07574 5.78809C6.10574 6.10909 6.36574 6.34909 6.68574 6.34909H20.1907ZM14.1307 11.5481H16.9007C17.3207 11.5481 17.6507 11.2081 17.6507 10.7981C17.6507 10.3781 17.3207 10.0481 16.9007 10.0481H14.1307C13.7107 10.0481 13.3807 10.3781 13.3807 10.7981C13.3807 11.2081 13.7107 11.5481 14.1307 11.5481Z" fill="currentColor"></path>
              </svg>
          </a>
      </div> -->
   <%- include('../includes/footer-farmer.ejs') %>